[Unit]
Description=Blue2Cast HardwareID Provider

[Service]
Type=notify
ExecStart=/home/azureuser/HardwareIdProvider/Blue2CastHardwareIdProvider/bin/Release/net7.0/Blue2CastHardwareProvider.dll

[Install]
WantedBy=multi-user.target